<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>comments:<%= userPost.id %></h1>
    <p><%= userPost.comment%>- <%= userPost.name%></p>
    <a href="/comments/<%=userPost.id %>/edit">edit</a>
    <form method="POST" action="/comments/<%= userPost.id %>?_method=delete">
      <button>delete</button>
    </form>
  </body>
</html>
